<form action="{{formaction}}" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" value="{{title}}" class="form-control">
                <span class="help-block">Used as the title of the page and when shared on Twitter, LinkedIn or Facebook.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label>Month</label>
                <select name="month" class="form-control">
                    {{#each months}}
                        <option{{#if selected}} selected="selected"{{/if}}>{{value}}</option>
                    {{/each}}
                </select>
                <span class="help-block">The publish month. Used in the post's URL (e.g. /2015/<strong>01</strong>/friendly-url.html)</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label>Year</label>
                <select name="year" class="form-control">
                    {{#each years}}
                        <option{{#if selected}} selected="selected"{{/if}}>{{value}}</option>
                    {{/each}}
                </select>
                <span class="help-block">The publish year. Used in the post's URL (e.g. /<strong>2015</strong>/01/friendly-url.html)</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label>Friendly URL</label>
                <input type="text" name="url" value="{{url}}" class="form-control">
                <span class="help-block">The page name. Used in the post's URL (e.g. /2015/01/<strong>friendly-url</strong>.html)</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label>Publish</label><br>
                <input type="checkbox" name="visible" value="true"{{#if visible}} checked="checked"{{/if}}> Show blog
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="form-group" data-ng-controller="KeywordsController"
                 data-ng-init="keywords = {{keywordsJson}}">
                <label>Keywords</label>

                <div data-ng-repeat="keyword in keywords track by $index" class="input-group">
                    <input type="text" name="keywords" class="form-control" data-ng-model="keywords[$index]">

                    <div class="input-group-addon">
                        <a href="#" data-ng-click="removeKeyword($event, $index)"><i class="fa fa-minus-circle"></i></a>
                    </div>
                </div>
                <div class="input-group keywords-add-container">
                    <a href="#" data-ng-click="addKeyword($event)">Add keyword<i class="fa fa-plus-circle"></i></a>
                </div>
                <span class="help-block clear">Used for tag clouds, meta tags, and searching.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="form-group">
                <label>Image</label>
                <input type="file" name="image">
                {{#if imageRelativePath}}
                    <div>
                        <img src="{{imageRelativePath}}"><br>
                        <span>{{imageRelativePath}}</span>
                    </div>
                {{/if}}
                <span class="help-block">Used as the page's main graphic and image when shared on Twitter, LinkedIn or Facebook.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="form-group">
                <label>Description</label>
                <input type="text" name="description" value="{{description}}" class="form-control">
                <span class="help-block">Used as the description of the page for SEO in meta tags and when shared on Twitter, LinkedIn or Facebook.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="form-group">
                <label>Content</label>
                <textarea class="blog-edit-content form-control" name="content">{{{content}}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary"{{#if submitDisabled}} disabled{{/if}}>Save</button>
        </div>
    </div>
</form>
